.section {
  min-height: 100vh;
  padding: 75px 0;
}

/* IMAGES */
.home-me {
  height: 650px;
}

/* HELPERS */

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
