@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #2e3544;
}

.section-header {
  padding: 40px 0 20px 0;
}

.section {
  min-height: 100vh;
  padding: 75px 0;
}

/* IMAGES */
.home-me {
  height: 650px;
}

/* HELPERS */

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-start-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.padding-medium-top-bottom {
  padding: 20px 0;
}

/* ABOUT */

.aboutme-avatar {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.experience-bubble-container {
  padding: 20px;
  border-radius: 15px;
}

.bubble-container-2 {
  padding: 20px;
  border-radius: 15px;
}

.education-bubble-container {
  padding: 20px;
  border-radius: 15px;
}

/* SKILLS */

.skill-bubble-container {
  height: 170px;
  width: 170px;
  border-radius: 15px;
}
