.section-header {
  padding: 40px 0 20px 0;
}

.section {
  min-height: 100vh;
  padding: 75px 0;
}

/* IMAGES */
.home-me {
  height: 650px;
}

/* HELPERS */

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.padding-medium-top-bottom {
  padding: 20px 0;
}

/* ABOUT */

.aboutme-avatar {
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.experience-bubble-container {
  background-color: rgba(4, 0, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
}

.bubble-container-2 {
  background-color: rgba(4, 0, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
}

.education-bubble-container {
  background-color: rgba(4, 0, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  min-height: 350px;
}
